<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur 404 est survenue</title>
</head>
<body>
    <h1>Test Oups! Une erreur 404 est survenue</h1>
    <h2>Le serveur a retourné une erreur</h2>
</body>
</html>