<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Une erreur est survenue</title>
</head>
<body>
    <h1>Oups! Une erreur est survenue</h1>
</body>
</html>