app/config/parameters.yml


app/logs/
app/cache/
vendor/
web/sitemap.xml
web/bundles/
web/uploads/
private-doc/


*.log
*.db
*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db