{# Diplay user message and feedback #}
{% for type in ['info', 'success', 'warning', 'danger'] %}
    {% for message in app.session.flashbag.get(type) %}
        <div class="alert-messages">
            <div class="alert alert-{{ type }} alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>
                    {# translate domain flashes, concat to get type from controller #}
                    {% set messageTitle = 'extendscript-library.title.' ~ type %}
                    {{ messageTitle | trans ( {}, 'flashes' ) }}
                </strong>
                
                {# overide this block to display messages from other domains #}
                {% block translation_messages %}
                    {{ message | trans ( {}, 'flashes' ) }}
                {% endblock %}
                
            </div>
        </div>
    {% endfor %}
{% endfor %}