<div class="row">
    <div class="col-lg-12">

        <div class="col-sm-6 col-md-4">
            <img src="http://placehold.it/380x500" alt="" class="img-responsive" />
        </div>
        <div class="col-sm-6 col-md-8">
            <div class="profile-title">
                <h4>Bhaumik Patel</h4>
                <small>
                    <cite title="San Francisco, USA">San Francisco, USA 
                        <i class="glyphicon glyphicon-map-marker"></i>
                    </cite>
                </small>
            </div>

            <div class="profile-content">
                <p>
                    <i class="glyphicon glyphicon-envelope"></i>email@example.com
                </p>
                <p>
                    <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
                </p>
                <p>
                    <i class="glyphicon glyphicon-gift"></i>June 02, 1988
                </p>
                <div class="biographie">
                    <h4>Biographie</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Cras posuere pretium libero congue viverra. Maecenas ac tincidunt lectus, 
                        sit amet ullamcorper leo. Quisque condimentum, dui at imperdiet mollis, 
                        ante est pellentesque ante, vitae luctus risus erat non urna. 
                        Quisque urna magna, lacinia at orci ac, elementum ullamcorper odio. 
                        Aenean ornare odio sed euismod rutrum. Curabitur vel mi dignissim, 
                        laoreet sem ac, blandit ligula. Cum sociis natoque penatibus et magnis dis parturient montes, 
                        nascetur ridiculus mus. Maecenas condimentum mi et lacus blandit vestibulum. 
                    </p> 
                </div>
            </div>
            <button type="button" class="btn btn-primary">modifier</button>
        </div>

    </div>
</div>