{% extends "SdzBlogBundle::layout.html.twig" %}


{% block stylesheets %}
  {{ parent() }} 
  {% stylesheets output='css/main.css' filter='cssrewrite, ?yui_css'
    '@SdzBlogBundle/Resources/public/css//blog-thumbnails.css'
  %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
  {% endstylesheets %}
{% endblock %}
    
{% block content %}
    <div class="row">
        
        {% include 'SdzBlogBundle::nav/blog_nav.html.twig' %}

        <div class="col-lg-8 col-lg-offset-1">
                {% block messages %}    
                    {% include 'messages.html.twig' %}
                {% endblock %}
                
                {% block body_content %}
                {% endblock %}
        </div>
   </div>
{% endblock %}