
.post {
    background-color: #f8f8f8;
    overflow: hidden;
    box-shadow: 0 0 3px #CCC;
}

.post-img-content {
    border-right: 1px solid #CCC;
}
.post .content, .post-img-content {
    padding-bottom:  15px;
    padding-top:  15px;
}

.post .author {
    font-size: 11px;
    color: #737373;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-img-content img {
    background-color: #ededed;
}

.post .post-title {
    margin-top: 10px;
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: absolute;
}

.post .post-title b {
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}
