{% extends "::backbone.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1>To do list</h1>
        <button class="btn btn-default btn-primary" type="button">Propose new function</button>
    </div>
</div>
<hr class="featurette-divider">
<div class="row orange">
    <div class="col-lg-12">
        <h2>In progress</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Application</th>
                        <th>Function name</th>
                        <th>Description</th>
                        <th>Probosed by</th>
                        <th>Votes</th>
                        <th>Estimated progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-minus"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only"></span></a></li>
            <li><a href="#">2 <span class="sr-only"></span></a></li>
            <li><a href="#">3 <span class="sr-only"></span></a></li>
            <li><a href="#">4 <span class="sr-only"></span></a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
<hr class="featurette-divider">

<div class="row green">
    <div class="col-lg-12">
        <h2>Fhinished</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Application</th>
                        <th>Function name</th>
                        <th>Description</th>
                        <th>Probosed by</th>
                        <th>Votes</th>
                        <th>Estimated progress</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Application</td>
                        <td>Function name</td>
                        <td>Description</td>
                        <td><a href="#">Nino</a></td>
                        <td>Votes</td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>

        <ul class="pagination pull-right">
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1 <span class="sr-only"></span></a></li>
            <li><a href="#">2 <span class="sr-only"></span></a></li>
            <li><a href="#">3 <span class="sr-only"></span></a></li>
            <li><a href="#">4 <span class="sr-only"></span></a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div>
{% endblock %}